<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="CustomFunctionsBWmisc"
         name="CustomFunctionsBWmisc"
         point="com.tibco.xml.cxf.common.customXPathFunction">
      <customXPathFunctionGroup
            class="com.tibcopsg.tibcobw.customfunctions.bw.CustomFunctions"
            id="com.tibcopsg.tibcobw.customfunctions.bw">
      </customXPathFunctionGroup>
   </extension>
   <extension
         id="CustomFunctionsLocalCache"
         name="CustomFunctionsLocalCache"
         point="com.tibco.xml.cxf.common.customXPathFunction">
      <customXPathFunctionGroup
            class="com.tibcopsg.tibcobw.customfunctions.bw.FLocalCache"
            id="com.tibcopsg.tibcobw.customfunctions.bw">
      </customXPathFunctionGroup>
   </extension>
      <extension
         id="CustomFunctionsString"
         name="CustomFunctionsString"
         point="com.tibco.xml.cxf.common.customXPathFunction">
      <customXPathFunctionGroup
            class="com.tibcopsg.tibcobw.customfunctions.bw.FString"
            id="com.tibcopsg.tibcobw.customfunctions.bw">
      </customXPathFunctionGroup>
   </extension>
   <extension
         id="CustomFunctionsTime"
         name="CustomFunctionsTime"
         point="com.tibco.xml.cxf.common.customXPathFunction">
      <customXPathFunctionGroup
            class="com.tibcopsg.tibcobw.customfunctions.bw.FTime"
            id="com.tibcopsg.tibcobw.customfunctions.bw">
      </customXPathFunctionGroup>
   </extension>
   <extension
         id="CustomFunctionsTime"
         name="CustomFunctionsTime"
         point="com.tibco.xml.cxf.common.customXPathFunction">
      <customXPathFunctionGroup
            class="com.tibcopsg.tibcobw.customfunctions.bw.FCrypt"
            id="com.tibcopsg.tibcobw.customfunctions.bw">
      </customXPathFunctionGroup>
   </extension>
</plugin>